body {
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: #f3f3f3;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: darkblue;
    opacity: 50%;
    top: 0;
}

.form-box {
    width: 700px;
    margin: 0 auto;
    background: rgba(27, 27, 50, 0.8);
    opacity: 80%;
    border-radius: 4px;
}

#survey-form {
    padding: 40px;
}

input, textarea, select {
    width: 100%;
}

label {
    display: block;
}

label.small {
    display: inline;
}

.inline {
    width: unset;
}

#title, #description {
    text-align: center;
}

#description {
    font-style: italic;
}

input, select {
    padding: 8px;
    box-sizing: border-box;
}

input {
    border: none;
    border-radius: 3px;
}